<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/prueba.css"/>
    <title>Inicio</title>
</head>
<body>

    <form class="form" action="geolocation.html" method="post" id="form">
        <h2 class="form-title">Indica tu ubicación</h2>
        
        <div class="form-container">
            <div class="form-group">
                <input type="text" id="name" class="form-input" placeholder="" required>
                <label for="name" class="form-label">Nombre</label>
                <spanc class="form-line"></span>
            </div>
    
            <div class="form-group">
                <input type="number" step="0.000000000001" id="latitude" class="form-input" placeholder="" required>
                <label for="latitude" class="form-label">Latitud</label>
                <spanc class="form-line"></span>
            </div>
    
            <div class="form-group">
                <input type="number" step="0.000000000001" id="longitude" class="form-input" placeholder="" required>
                <label for="longitude" class="form-label">Longitud</label>
                <spanc class="form-line"></span>
            </div>

            <input type="submit" class="form-submit" value="Enviar">
            <p class="warnings" id="warnings"></p>
        </div>
        
    </form>
    <script type="module" src="/javascript/prueba.js"></script>
</body>
</html>